name = "Cliffords"
uuid = "276b0191-6968-5de0-98fd-2a81b0f3910d"
authors = ["Marcus P da Silva", "Blake Johnson", "Matthew Ware", "Guilhem Ribeill"]
license = "MIT"
version = "0.6.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
julia = "1"

[extras]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["LinearAlgebra", "Test"]
